<div class="container posts-page">
 
  <div class="container">
    <form class="navbar-form navbar-left" role="search" ng-submit="submitPost()" ng-show="signedIn()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Title" ng-model="post.title">
      </div>
      <div class="form-group">
      <input type="text" class="form-control" placeholder="Link" ng-model="post.body">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <div class="post row" ng-repeat="(postId, post) in posts">
    <div class="col-xs-1">
 
    </div>
    <div class="col-md-9 col-xs-11">
 
      <div class="info">
        <a href="#/posts/{{ post.$id }}">
          {{ post.title }}
        </a>
          <span class="wordcount">{{ post.body | wordCount }}</span>
        
      </div>
      <div>
        <span>submitted by <a href="#/users/{{ post.creator }}">{{ post.creator }}</a></span>
        <a href="javascript:;" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID"> delete</a>
      </div>
    </div>
    <div class="col-md-2">
      
    </div>
 
  </div>
 
</div>