<div class="container posts-page">
 
 <form ng-submit="submitPost()">
  <input type="text" ng-model="post.title" />
  <input type="text" ng-model="post.url" />
  <input type="submit" value="Add Post" />
</form>

  <div class="post row" ng-repeat="(postId, post) in posts">
    <div class="col-xs-1">
 
    </div>
    <div class="col-md-9 col-xs-11">
 
      <div class="info">
        <a href="{{ post.url }}" target="_blank">
          {{ post.title }}
          <span class="url">({{ post.url }})</span>
        </a>
      </div>
      <div>
        <span>submitted by <a href="#/users/{{ post.owner }}">{{ post.owner }}</a></span>
        -
        <a href="#/posts/{{ post.$id }}">comments</a>
        <a ng-click="deletePost(postId)" href="#">delete</a>
      </div>
    </div>
    <div class="col-md-2">
      
    </div>
 
  </div>
 
</div>